#header{
    width:100%;
    height:150px;
    background:linear-gradient(to right,red,aqua);
    color: white;
    text-align: center;
    word-spacing: 12px;
}





.welcome{
 
    animation: moveTopBottom 1s infinite alternate;
}
@keyframes moveTopBottom {
    0%{
        transform:translatex(0)
        
    }
    100%{
        transform: translatey(20px);
    }
}









button{
    background-color: transparent;
    border:yellow;
    border-radius:50px;
    width:70px;
    height: 30px;
}


button:hover{
    background-color: yellow;
}

#container{
    width:80%;
    height:130px;
    background-color:rgb(246, 248, 243);
    margin: 35px;
     animation: moveTopBottom 1s infinite alternate;
}
.about{
   text-align: center;
   color: red;
    padding-top: 10px;
}




.para{
    font-style: italic;
    margin-left: 30px;
}
.img1{
   
    width:150px;
    height:150px;
    background-color: red;
    color: white;
    text-align: center;
    border-radius: 10px;
     margin-top: 15px;
     transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform-style: preserve-3d;
    
}






.img2{
    width:150px;
    height:150px;
    background-color: blue;
    color: white;
    text-align: center;
      border-radius: 10px;
       margin-top: 15px;
}
.img3{
    width:150px;
    height:150px;
    background-color: green;
    color: white;
    text-align: center;
     border-radius: 10px;
      margin-top: 15px;
}
.img4{
    width:150px;
    height:150px;
    background-color:yellow;
    color: white;
    text-align: center;
     border-radius: 10px;
      margin-top: 15px;
    

}
.img5{
    width:150px;
    height:150px;
    background-color: purple;
    color: white;
    text-align: center;
    border-radius: 10px;
       margin-top: 15px; 

}


#gallery{
    display: flex;
    gap: 12px;
    margin-left: 62px;
     border-radius: 10px;

   
}
.Gallery2{
    position: relative;
    top:-45px;
    left:385px;
}
.fun{
    color: red; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    margin-left: -275px;
    text-align: center;
    margin-top: 45px;
}
.box1{
    width:70%px;
    height:50px;
    background: yellow;
    margin-left: 15px;
    
  

}
.box1{
    position:relative;
    top:12px;
    margin-left: 22px;
    animation: Move 3s infinite alternate;

}

@keyframes Move{
    0%{
        transform:translatex(0);
    }
    100%{
        transform:translate(10px);
    }
}
.box2{
    width:70%px;
    height:50px;
    background: yellow;
    margin-left: 15px;
    margin-top: 17px;
    animation: Move 3s infinite alternate;
  

}
.box3{
    width:70%px;
    height:50px;
    background: yellow;
    margin-left: 15px;
     margin-top: 17px;
    animation: Move 3s infinite alternate; 

}
#funactivities{
    background-color: whitesmoke;
}
#contact{
    background-color:rgb(247, 239, 239);
    height:200px;
    width:100%
}
.name{
    width: 60%;
    height:30px;
    margin-left: 12px;
    border-color: aqua;
}

.email{
    width: 60%;
    height: 30px;
    margin-left: 12px;
    margin-top: 32px;
    border-color: aqua;
}
.message{
    
    margin-top: 40px;
    width: 60%;
    height:100px;
    margin-left: 12px;
    border-color: aqua;

}
.send{
    width:900px;
    height: 40px;
    background-color: red;
    border-radius: 15px;
    margin-left: 15px;
    margin-top: 15px;
}

.send:hover{
    background-color: aqua;

}


footer{
    width:100%;
    height:30px;
    background-color: darkblue;
    position: relative;
    top:250px;
    text-align: center;
    margin-top: 27px;
    
}
p{
    position: relative;
    top: 12px;
}
.Art{
    margin-left: 72px;
}